*{
    box-sizing: border-box;

}

body{
    background-color: honeydew;
    font-size: 110%;

}

img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 150%;
    max-width: 50ch;
}


@media only screen and (max-width:480px){
    body{
        background-color: blue;
    }
}

h1{
    border: 3px solid black;
}